svg {
}

a > polygon {
  transition-duration: 200ms;
  transition-property: all;
  stroke: #FFFFFF;
}

a:hover > polygon:first-of-type {
  stroke-width: 2;
  stroke: #d4d4d4;
}

a:hover > polygon[fill="#87ceeb"] {
  stroke: #009ACD;
}
